.u-center {
    display: flex;
    justify-content: center;
}

p.u-center {
    text-align: center;
}

body {
    font-size: 150%;
    background: #efefef;

    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
}



h1 { font-size: 3.0rem; padding-top: 1.0em;}
h2 {
    text-align:center;
    font-size: 2.4rem;
    padding-top: 0.5em;
    position:relative;
    color:  #8a5d42;
    
}
h2::after {
    content: "";
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background: #ae8a75; 
}
h3 {
    font-size: 1.8rem;
    padding-top: 0.3em;
    padding-left: 0.5em;
    position:relative;
    font-weight: bold;
    color:rgb(76, 121, 80);
}
h3::before {
    content: "";
    margin: 0 auto;
    display: block;
    width:3px;
    height:1.5em;
    position:absolute;
    top:0.2em;
    left:-5px;
    background: #5ebd5e; 
}
h4 { font-size: 1.5rem; padding-top: 0.3em;}

a {
    color:rgb(35, 102, 102);
}

img {
    width: 80%;
}

img.u-icon {
    max-width: 15em;
    border-radius: 100%;
    border-color: #d9b795;
    border-width: 3px;
    border-style: solid;
    padding: 1em;
    width: 30%;
    min-width: 150px;
}

.u-strong {
    font-weight: bold;
}

.u-footnote {
    color: rgb(173, 173, 173);
    font-size: 0.9em;
}
.u-gray {
    color: gray;
}
.u-poster {
    color: #519b45;
    font-weight: bold;
}
.u-oral {
    color: #b0794e;
    font-weight: bold;
}
.u-paper {
    color: #46529e;
    font-weight: bold;
}
.u-reviewed {
    color: #fff;
    background-color:#7281df;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.30em;
    margin: 0.1em;
}

.u-award {
    color: #fff;
    background-color:#59b89b;
    border-radius: 3px;
    padding: 0.30em;
    margin: 0.1em;
    font-weight: bold;
}